.tooltip {
  position: relative;
  width: 500px;
}

.tooltip:hover .tooltip-text {
  display: inline-block;
}

.tooltip-text {
  display: none;
  position: absolute;
  padding: 15px 20px;
  font-size: $size;
  color: $color-primary;
  background-color: $background-primary;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  border-radius: 8px;
  left: 90px;
  right: 90px;
  bottom: -80px;
}

.tooltip-text::after {
  content: "";
  display: block;
  border-bottom: 14px solid $background-primary;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  position: absolute;
  top: -14px ;
  left: 145px;
   
}
